.one{
  font-family:Arial, Helvetica, sans-serif;
      background-color:green;
      color:blue;
}
.two{
  font-family:'Times New Roman', Times, serif;
      background-color:grey;
      color:yellow;
}